<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="lt" class="h-100">
<head th:replace="~{fragments/layout :: head(#{cart.title})}">
</head>
<body class="d-flex flex-column h-100">
<header th:replace="~{fragments/layout :: header(rootPath='')}"></header>
<main class="container">
    <h2 th:text="#{cart.header}">Products</h2>

    <table class="table table-dark table-hover">
        <thead>
        <tr>
            <th class="col-md-3" th:text="#{cart.field.name}"></th>
            <th class="col-md-2" th:text="#{cart.field.quantity}"></th>
            <th class="col-md-2" th:text="#{cart.field.price}"></th>
            <th class="col-md-2" th:text="#{cart.field.total}"></th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="cartItem: ${cartSession.cartItems}">
            <td th:text="${cartItem.name}"></td>
            <td th:text="${cartItem.quantity}"></td>
            <td th:text="${cartItem.unitPrice + ' ' + euroCurrency}"></td>
            <td th:text="${cartItem.totalPrice + ' ' + euroCurrency}"></td>
            <td></td>
        </tr>
        </tbody>
        <tfoot>
        <tr>
            <td></td>
            <td th:text="${cartSession.cartTotalQuantity}">1111</td>
            <td></td>
            <td colspan="2" th:text="${cartSession.cartTotalPrice + ' ' + euroCurrency}">22222</td>
        </tfoot>
    </table>

    <button class="btn btn-primary" type="submit" th:text="#{cart.order}"></button>
</main>
<footer th:replace="~{fragments/layout :: footer}"></footer>
<div th:replace="~{fragments/layout :: bodyBottomScripts}"></div>
</body>
</html>
