<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="lt" class="h-100">
<head th:replace="~{fragments/layout :: head(#{welcome.title})}">
</head>
<body class="d-flex flex-column h-100">
<header th:replace="~{fragments/layout :: header(rootPath='')}"></header>
<main class="container">
    <h1 th:text="#{welcome} + ' ' + ${modelDateAttr}">Welcome to my eShop! current date & time is:</h1>
    <h2 th:text="${companyName}"></h2>
    <h2 th:text="${companyAddress}"></h2>
    <h2 th:style="'color: ' + ${companyColor}" th:text="'Developer: ' + ${developerNames}"></h2>
</main>
<footer th:replace="~{fragments/layout :: footer}"></footer>
<div th:replace="~{fragments/layout :: bodyBottomScripts}"></div>
</body>
</html>
